<div class="container">
    <div class="playlist">
        <img src="../public/image/chill.png" alt="Playlist 1">
        <h3>Chill Vibes</h3>
        <p>Relaxing and mellow tunes for your downtime.</p>
    </div>
    <div class="playlist">
        <img src="../public/image/beats.png" alt="Playlist 2">
        <h3>Upbeat Hits</h3>
        <p>Energetic tracks to get you moving.</p>
    </div>
    <div class="playlist">
        <img src="../public/image/rocks.png" alt="Playlist 3">
        <h3>Classic Rock</h3>
        <p>Timeless rock anthems that never get old.</p>
    </div>
</div>
